body{
 
   background-color:#d8f0f2 ;
 
}
.nav {
   background-image: url('./components/nav.svg') ;
   width: 100vw;
  
   margin: auto;
  
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
   flex-wrap: wrap;
   text-decoration: none;
   
}
.nav a{
color: #F2CD75 ;
font-weight: 900;
font-size: 1.7em;
}
.slogan{
    color: rgb(122, 122, 122);
    font-weight: 700;
}
a:link, a:visited, a:active, a:hover{
    text-decoration: none;
}


a:active{
    color: #fdbd2a ;
  transform: translateY(4px);
}

a:visited{
    color: #fdbd2a;
}






.title{
    color: #F2CD75;
    text-align: center;
}

.main_title{

   display: flex;
    flex-direction: row;
    justify-content: center;
}


.recipe_holder{
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 3px;
grid-row-gap: 4px;
        
}
 .com-rec{
display: flex;
flex-direction: column;



}
.search, button{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}  


input {
    width: 28vw;
    height: 2.5vh;
    margin-bottom: 1em;
   
}
.select{
display: flex;
flex-direction: row;
justify-content: center;
}

#allergies{
    margin-left: .5em;
}


button{
 margin: auto;
 margin-top: 1em;
 margin-bottom: 1em;

 
  
}

.recipe-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  
    align-content: center;
    text-align: center;
    
    
}

img{
width: 22vw;
margin: auto;
}

.para{
    align-self: center;
    margin: 1em ;
   
} 

.home-pg {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-self: center;
    
    
}
.logo{
    margin-bottom: 1em;
}

.input {
   border-color: #F2CD75 ;
   border-radius: .5em;
   border-style: solid;
   text-align: center;
   width: 30vw;
   height: 4vh;
}

.opt {
    
    text-align: center;
    
}
.sel{
    color: #F2CD75;
    border-style: none;
    font-size: 1.3em;
    margin-bottom: 2em;
}
.main-btn{
    
    
  width: 9em;
 
  
  
}

.fav-btn, .com-btn, .rem-btn, .main-btn{
padding: 1rem;
border-radius: .5em;

background-color: #F2CD75;
outline: none;
border: none;
text-decoration: none;


}
.fav-btn, .com-btn, .rem-btn, .main-btn:active{
transform: translateY(4px); 
background-color: #fdbd2a ;
}

.com-header, .fav-header {
    color: #F2CD75;
    text-align: center;
    font-weight: 900;
}
h1{
    color: #F2CD75;   
}
textarea{
    border-color: #F2CD75;
    width: 16vw;
    height: 10vh;
}

@media only screen and (max-width: 768px) {
    .recipe_holder {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 3px;
    }
 
        
       
       
    
  }

