*{
    --background-color: #EFFAFB;
    --heading-color: #F2CD75;
    --font-color: #000000
  
}
body{
background-color: var(--background-color);
color: var(--font-color);
font-family: 'Montserrat', sans-serif;
}



.nav {
   background-image: url('src/assets/recipeImages/nav.svg') ;
   width: 100vw;
   margin: auto;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: baseline;
   flex-wrap: wrap;
   text-decoration: none;
   
}
.nav a{
color: var(--heading-color);
font-weight: 900;
font-size: 1.7em;
}
.slogan{
    color: rgb(122, 122, 122);
    font-weight: 700;
}
a:link, a:visited, a:active, a:hover{
    text-decoration: none;
}
.title{
    color: blueviolet;
}

.main_title{
    background-color: brown;
   display: flex;
    flex-direction: row;
    justify-content: center;
}


.recipe_holder{
  display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 3px;
grid-row-gap: 4px;
        
}
.search, button{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}  

input {
    width: 28vw;
    height: 2.5vh;
    margin-bottom: 1em;
   
}
.select{
display: flex;
flex-direction: row;
justify-content: center;
}

#allergies{
    margin-left: .5em;
}


button{
 margin: auto;
 margin-top: 1em;
 margin-bottom: 1em;
  
}

.recipe-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border: .1em solid black;
    align-content: center;
    
}

img{
width: 22vw;
margin: auto;
}
.para{
    align-self: center;
    margin: 1em ;
   
}